<section id="error-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-page-area">
          <div class="error-no-area">
            <div class="error-no">
              <h2>Spammed</h2>
              <p>Sorry</p>
            </div>
          </div>
        </div>
        <div class="error-message">
          <h4>Woops! This Lecture Is Spammed </h4>
          <p>Sorry, other users has spammed this lecture Return to our <%= link_to "Home page",root_path %>.</p>
        </div>
      </div>
    </div>
  </div>
</section>